.specialties_2 {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;

    .tabs {
        border-bottom: 1px solid #DDE4F0;
        display: flex;
        gap: 80px;

        label {
            font-family: DIN Next W1G;
            font-size: 30px;
            font-weight: 500;
            line-height: 36px;
            text-align: left;
            transition: .5s;
            padding-bottom: 10px;
        }

        label:hover {
            transition: .5s;
            color: #0FB967;
        }

        label.label--active {
            border-bottom: 2px solid #0FB967;
            color: #0FB967;
        }

        input {
            display: none;
        }
    }

    .tabs__content {

        ul {
            display: grid;
            grid-template-rows: repeat(10, 1fr);
            grid-template-columns: repeat(3, 300px);
            gap: 20px;
            grid-auto-flow: column;
            justify-content: space-between;
        }

        li {
            display: grid;
            grid-template-columns: 20px 1fr;
            gap: 20px 35px;

            p {
                font-family: DIN Next W1G;
                font-size: 24px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                color: #9CA3AF;
            }

            span {
                font-family: DIN Next W1G;
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;
                text-align: left;
            }
        }
    }
}

@media (max-width: 1300px) {
    .specialties_2 .tabs__content ul {
        grid-template-rows: repeat(15, 1fr);
        grid-template-columns: repeat(2, 450px);
        justify-content: start;
    }
}

@media (max-width: 960px) {
    .specialties_2 .tabs__content ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(15, 1fr);
    }
}

@media (max-width: 600px) {
    .specialties_2 .tabs__content ul {
        display: flex;
        flex-direction: column;

        li {
            width: 100%;
            max-width: none;
        }
    }

    .specialties_2 .tabs {
        border: none;
        flex-direction: column;
        gap: 10px;
    }

    .specialties_2 .tabs label {
        border-bottom: 1px solid #DDE4F0;
    }
}